# Ignore Python bytecode files
*.pyc

# Ignore local development files and directories
__pycache__/
*.pyo
*.pyd

# Ignore version control files
.git
.gitignore

# Ignore virtual environment directory (if using virtualenv or venv)
venv/

# Ignore database instance folder if applicable
instance/

# Ignore log files
*.log
